.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 200px;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  color: #000;
}
