<div class="modal fade" id="newCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cliente</h1>
        <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="regFormCustomer" name="form">
          <div class="mb-3">
            <label for="ipt_id" class="form-label" [hidden]="true">Id</label>
            <input type="text" class="form-control" id="ipt_id" placeholder="" formControlName="id"
                   maxlength="45" [disabled]="true" [hidden]="true">
          </div>
          <div class="mb-3">
            <label for="ipt_nombre" class="form-label">DNI</label>
            <input type="text" class="form-control" id="ipt_dni" placeholder="" formControlName="dni"
                   maxlength="45">
          </div>
          <div class="mb-3">
            <label for="ipt_nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="ipt_nombre" placeholder="" formControlName="name"
                   maxlength="45">
          </div>
          <div class="mb-3">
            <label for="ipt_apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="ipt_apellido" placeholder="" formControlName="lastname"
                   maxlength="45">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="saveCustomer()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#newCliente"
  > Nuevo Cliente
  </button>

  <table class="table table-bordered border-primary table-sm mt-3">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cts of customers">
      <td> {{cts.id}} </td>
      <td> {{cts.dni}} </td>
      <td> {{cts.name}} </td>
      <td> {{cts.lastname}} </td>
      <td>
        <button class="btn btn-warning btn-sm" style="margin-right: 1rem" data-bs-toggle="modal"
                data-bs-target="#newCliente" (click)="updateCustomer(cts)"> Editar
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteCustomer(cts)"> Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
